<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/global.css" />
    <link rel="stylesheet" href="/CSS/register.css" />
    <title>Registro</title>
  </head>
  <body class="centralize">
    <form>
      <div class="form-field">
        <div><label for="">Email</label></div>
        <input
          type="email"
          placeholder="Email"
          id="email"
          onchange="onChangeEmail()"
        />
        <div class="error" id="email-required-error">Email é obrigatório</div>
        <div class="error" id="email-invalid-error">Email Inválido</div>
      </div>
      <div class="form-field">
        <div><label>Senha</label></div>
        <input
          type="password"
          placeholder="Senha"
          id="password"
          onchange="onChangePassword()"
        />
        <div class="error" id="password-required-error">
          Senha é obrigatório.
        </div>
        <div class="error" id="password-min-length-error">
          Senha deve conter 6 caracteres.
        </div>
      </div>
      <div class="form-field">
        <div><label>Confirmar Senha</label></div>
        <input
          type="password"
          placeholder="Confirmar Senha"
          id="confirmPassword"
          onchange="onChangeConfirmPassword()"
        />
        <div class="error" id="password-doesnt-match-error">
          As senhas devem ser iguais.
        </div>
      </div>
      <div>
        <button
          type="button"
          class="solid"
          disabled="true"
          onclick="registerUser()"
          id="register-button"
        >
          Registrar
        </button>
      </div>
      <div>
        <button type="button" class="clear">Login</button>
      </div>
    </form>
  </body>

  <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.12.1/firebase-auth-compat.js"></script>
  <script src="/src/firebase-init.js"></script>
  <script src="/src/register.js"></script>
  <script src="/src/validations.js"></script>
  <script src="/src/loading.js"></script>
</html>
